@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TX Tech';
  src: url('/fonts/tx-tech-font-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TX Tech';
  src: url('/fonts/tx-tech-font-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TX Tech';
  src: url('/fonts/tx-tech-font-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TX Tech', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
